nav > a {
    color:crimson;
    font-style: normal;

}

.about > blockquote {
    background-color: #eaeaea;
}

.users > p > span {
    font-weight: bold;
}

.users > span {
    color: crimson;
}

.creators > a {
    
}